<!DOCTYPE HTML>
<html>
    <% include partials/head %>
    <body>
        <div class="container hawk-con">
            <% include partials/nav %>
            <main class="hawk-main">
                <div class="hawk-start">
                    <div class="hawk-inline-big">                                          
                        <p class="hawk-status-title"><img class="hawk-status-logo animated rotateIn" src="assets/img/Logo.png">Hawk</p>
                    </div>
                    <div class="row hawk-buttons animated fadeInUp">
                        <div class="hawk-invite invite-button">
                            <a class="hawk-button" href="./invite/"><i class="fas fa-plus-square"></i> Invite Hawk</a>
                        </div>
                        <div class="support hawk-invite invite-button">
                            <a class="hawk-button text-support" href="./support/"><i class="fab fa-discord"></i> Join Support</a>
                        </div>
                    </div>
                </div>
                <div id="stats">
                
                </div>
            </main>
            <% include partials/footer %>
        </div>
    </body>
</html>