<!DOCTYPE HTML>
<html>
    <% include partials/head %>
    <body>
        <div class="container hawk-con">
            <main class="hawk-status">
                <div class="title-box animated fadeInDown">
                    <p class="hawk-status-title">Hawk<img class="hawk-status-logo animated rotateIn" src="/assets/img/Logo.png">Status</p>
                </div>

                <div class="list-group">
                    <li id="all-shards" class="list-group-item error animated fadeInDown">Loading...</li>
                </div>

                <br/><br/>

                <div class="list-group">
                    <% for(let i = 0; i < sharder.lTotalShards; i++) { %>
                        <li id="shard-<%= i %>" class="list-group-item error animated fadeInUp">Shard #<%= (i+1) %> » Loading...</li>
                    <% } %>
                </div>
                <div class="push"></div>
            </main>
            <% include partials/footer %>
        </div>
    </body>
</html>