<footer class="hawk-footer animated fadeInUp">
    <p class="footer-text">&copy; Hawk DevTeam 2018 - All rights reserved - Designed by <a target="_blank" href="https://rxsto.me/">@Rxsto#4224</a></p>
</footer>

<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="assets/js/webSocket.js"></script>
<script type="text/javascript" src="assets/js/functions.js"></script>