<head>
    <title><%= page.title %> - <%= page.subtitle %></title>

    <meta charset="UTF-8">

    <meta name="author" content="Rxsto">
    <meta name="publisher" content="Hawk DevTeam">
    <meta name="copyright" content="Hawk DevTeam">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-equiv="content-language" content="en">
    <meta name="robots" content="index, follow">

    <link rel="shortcut icon" type="image/x-icon" style="border-radius: 100%;" href="assets/img/Favicon.png">

    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>